html {
  font-size: 62.5%;
}
body {
    background-color: rgb(163, 185, 163);
  }
  
  h1 {
    color: navy;
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;
  }
  h2 {
    font-family: sans-serif;
    color: black ;
  }
  h4 {
    margin-top:5px;
    margin-bottom: 5px;
    font-family: sans-serif;
  }
  p {
    font-family: sans-serif;
    color: black ;
    margin-top:3px;
    text-align: justify;
    width: 400px;
  }
  img {
    width: 200px;
    height: auto;
    vertical-align:middle;
  }